/* * {
margin:0;
padding:0;
box-sizing: border-box;
} */
/* body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: url(https://picsum.photos/1200/1200); */
    /* background-size: cover;
    background-position: center;
}
form
input
textarea
button{
    background: chartreuse(0,0,0,35);
    box-shadow: 0 8px 32px black(31,38 135 0.37);
    /* -webkit-backdrop-filter: blur(6px); */
    /* border-radius: 10px;
    padding: 30px
} */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: url(https://picsum.photos/1200/1200);
    background-size: cover;
    background-position: center;
    }
form,
input,
textarea,
button {
    background: rgba(0, 0, 0, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
    color: white;
    padding: 5% 10%;
    }
    
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    }

li {
        display: inline-block;
    }
ul {
        background-color:darkgrey;
        position: fixed;
        top: 0%;
        left: 0%;
        right: 0%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
/* * {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    } */
    a.hover{ 
        padding: 60px;
        color: cornsilk;
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    h1{
        font-size: 40pt;
    }
    table, td,th{
            border: 3px solid black; 
         }
    image{
        width: 0%;
        height: 0%;
        float: right;
    }
    /* video{
        width: "320";
        height: "240";
    } */
    .flip-card {
        margin: 0;
        padding: 0;
        display:inline-flex;
        width: 300px;
        height: 300px;
        perspective: 1000px;
      }
      
    .flip-card-inner {
        position: absolute;
        width: 300px;
        height: 300px;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      }
      
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 300px;
        height: 300px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
    .flip-card-front {
        background-color: #bbb;
        color: black;
      }
      
    .flip-card-back {
        background-color: #2980b9;
        color: white;
        transform: rotateY(180deg);
        border:black;
    }   
    
    div.flip-card {
        /* background-color: lightgrey; */
        width: 400px;
        height: 400px;
        /* border font: inherit;: 15px solid blue; */
        padding: 50px;
        margin: 20px;
        border: black;
      }
      
    .container {
        flex-direction: row;
        display: flex;
        grid-row: 10px;
        gap: 10px 20px;
        column-gap: 30px;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: center;
        flex-flow: space-evenly;
    }